/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header{
  background-color: lightslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__image{
  height:40px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 20px;
}
.header__navigation{
  margin-right: 20px;
}

/* ### TODO ### Styles for Main Component */

/* ... your code here ... */
.main{
  display: flex;
  gap: 50px;
  padding-top: 30px;
  padding-left: 30px;
  align-content: space-between;
  
}

/* ### TODO ### Styles for Tagging component */

.main__tagging{
  width: 20%;
 
}


input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

.main__tagging fieldset {
  display: flex;
 flex-direction: column;
 border:  2px solid lightslategray;
 height:100%;
 padding: 16px;
 align-content: space-between;

}

.main__tagging h2{
  padding-bottom: 15px;
}
/* ### TODO ### Styles for Discovery component */

.main__discovery{
  width: 80%;
  margin-right: 50px;

}

.main__discovery fieldset {
  display: flex;
 flex-direction: column;
 border:  2px solid lightslategray;
 height:100%;
 padding: 16px;
 padding-right: 70%;
 align-content: space-between;

}

.main__discovery h2{
  padding-bottom: 15px;
}




.discovery__results{
  display: flex;
  flex-direction: column;
 
}

.discovery__results li{
  background-color: rgb(221, 221, 221);
  border: 2px solid lightslategray;
  width: 75%;
  height: 70px;
  padding: 2%;
  margin-top: 15px;
  color: rgb(70, 164, 187);
  font-weight:bold;
  list-style: none;
  text-align: center;
  display: inline-block;
}

.discovery__map{
  /*margin-left: 0;*/
  margin-top: 15px;
  flex-direction: column;
  padding-bottom: 100px;
}

.discovery__map img{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
  
}




/* ### TODO ### Styles for Footer Component */

.footer{
  background-color: lightslategray;
  position: fixed;
  bottom:0px;
  width:100%;
  height: 100px;
}

.footer span{
  margin-left: 40px;
  vertical-align: middle;
  margin-top:45px;
  height: 10px;
  position:fixed;

}
/* ### TODO ### Media Queries */

@media only screen and (orientation: portrait) {
  .main{
    flex-direction: column;
  }
}




/* ... your code here ... */